In [1]:
import pandas as pd
import numpy as np

In [142]:
movies_df = pd.read_csv('./data/movies.csv')
ratings_df = pd.read_csv('./data/ratings.csv')

In [3]:
movies_df.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [11]:
ratings_df.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [159]:
movies_data = pd.merge(movies_df, ratings_df, on='movieId')

In [160]:
movies_data.tail(2)

,movieId,title,genres,userId,rating,timestamp
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [161]:
def remove_year(x): # removes trailing year in title
    name_size = len(x) - 7
    return x[:name_size]

In [162]:
movies_data.loc[:, 'title'] = movies_data['title'].apply(remove_year)

In [165]:
matrix = movies_data.pivot_table(index="userId", columns="title", values="rating")

In [166]:
matrix.head()

title,'71,'Hellboy': The Seeds of Creation,'Round Midnight,'Salem's Lot,'Til There Was You,'Tis the Season for Love,"'burbs, The",'night Mother,(500) Days of Summer,*batteries not included,...,Zulu,[REC],[REC]²,[REC]³ 3 Génesis,anohana: The Flower We Saw That Day - The Movie,eXistenZ,xXx,xXx: State of the Union,¡Three Amigos!,À nous la liberté (Freedom for Us)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
def pearsonCorr(s1, s2):
    s1_c = s1-s1.mean()
    s2_c = s2-s2.mean()
    return np.sum(s1_c*s2_c) / np.sqrt(np.sum(s1_c**2) * np.sum(s2_c**2))

def recommend(movie, M, n):
    reviews = []
    for title in M.columns:
        if title == movie:
            continue
        cor = pearsonCorr(M[movie], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key= lambda tup: tup[1], reverse=True)
    return reviews[:n]

In [176]:
recs = recommend('Hero', matrix, 10)

C:\Users\Oyekanmi\Miniconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [175]:
recs

[('Toy Story', 0.31866602468352206),
 ('Old Yeller', 0.31663562802592765),
 ('Jeepers Creepers', 0.30686714275949184),
 ('Wide Awake', 0.30066716743462252),
 ('Buddy', 0.2841037687265105),
 ('Heartbreakers', 0.28109741707272068),
 ('Jaws', 0.26823785868741562),
 ('Hero', 0.2668304211005727),
 ('Jonestown: The Life and Death of Peoples Temple', 0.26556098105114584),
 ('Slacker', 0.26310430281269148)]

In [177]:
recs

[('Farinelli: il castrato', 0.85000000000000009),
 ('Marked for Death', 0.76948376406386565),
 ('Damien: Omen II', 0.736321040510724),
 ('Godzilla (Gojira)', 0.70891755695856662),
 ('My Father the Hero (Mon père, ce héros.)', 0.70891755695856662),
 ('Brokedown Palace', 0.68033605141660902),
 ('Women on the Verge of a Nervous Breakdown (Mujeres al borde de un ataque de nervios)',
  0.63937592362336704),
 ('Carnosaur', 0.63245553203367588),
 ('Crazy in Alabama', 0.63245553203367588),
 ('Friday the 13th Part VIII: Jason Takes Manhattan', 0.63245553203367588)]