In [1]:
import pandas as pd
import numpy as np

In [142]:
movies_df = pd.read_csv('./data/movies.csv')
ratings_df = pd.read_csv('./data/ratings.csv')

In [3]:
movies_df.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [11]:
ratings_df.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [159]:
movies_data = pd.merge(movies_df, ratings_df, on='movieId')

In [160]:
movies_data.tail(2)

,movieId,title,genres,userId,rating,timestamp
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [161]:
def remove_year(x): # removes trailing year in title
    name_size = len(x) - 7
    return x[:name_size]

In [162]:
movies_data.loc[:, 'title'] = movies_data['title'].apply(remove_year)

In [165]:
matrix = movies_data.pivot_table(index="userId", columns="title", values="rating")

In [166]:
matrix.head()

title,'71,'Hellboy': The Seeds of Creation,'Round Midnight,'Salem's Lot,'Til There Was You,'Tis the Season for Love,"'burbs, The",'night Mother,(500) Days of Summer,*batteries not included,...,Zulu,[REC],[REC]²,[REC]³ 3 Génesis,anohana: The Flower We Saw That Day - The Movie,eXistenZ,xXx,xXx: State of the Union,¡Three Amigos!,À nous la liberté (Freedom for Us)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
def pearsonCorr(s1, s2):
    s1_c = s1-s1.mean()
    s2_c = s2-s2.mean()
    return np.sum(s1_c*s2_c) / np.sqrt(np.sum(s1_c**2) * np.sum(s2_c**2))

def recommend(movie, M, n):
    reviews = []
    for title in M.columns:
        if title == movie:
            continue
        cor = pearsonCorr(M[movie], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key= lambda tup: tup[1], reverse=True)
    return reviews[:n]

In [176]:
recs = recommend('Hero', matrix, 10)

C:\Users\Oyekanmi\Miniconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [175]:
recs

[('Toy Story', 0.31866602468352206),
 ('Old Yeller', 0.31663562802592765),
 ('Jeepers Creepers', 0.30686714275949184),
 ('Wide Awake', 0.30066716743462252),
 ('Buddy', 0.2841037687265105),
 ('Heartbreakers', 0.28109741707272068),
 ('Jaws', 0.26823785868741562),
 ('Hero', 0.2668304211005727),
 ('Jonestown: The Life and Death of Peoples Temple', 0.26556098105114584),
 ('Slacker', 0.26310430281269148)]

In [177]:
recs

[('Farinelli: il castrato', 0.85000000000000009),
 ('Marked for Death', 0.76948376406386565),
 ('Damien: Omen II', 0.736321040510724),
 ('Godzilla (Gojira)', 0.70891755695856662),
 ('My Father the Hero (Mon père, ce héros.)', 0.70891755695856662),
 ('Brokedown Palace', 0.68033605141660902),
 ('Women on the Verge of a Nervous Breakdown (Mujeres al borde de un ataque de nervios)',
  0.63937592362336704),
 ('Carnosaur', 0.63245553203367588),
 ('Crazy in Alabama', 0.63245553203367588),
 ('Friday the 13th Part VIII: Jason Takes Manhattan', 0.63245553203367588)]

In [112]:
# matrix['(500) Days of Summer (2009)']

In [123]:
test.head(2)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962

In [ ]:
removeDate(te)

In [152]:
test = movies_data.tail(50)

In [153]:
# test['title'] = test['title'].apply(removeDate)

C:\Users\Oyekanmi\Miniconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [155]:
test

,movieId,title,genres,userId,rating,timestamp
100786,187593,Deadpool 2,Action|Comedy|Sci-Fi,62,4.0,1527274071
100787,187593,Deadpool 2,Action|Comedy|Sci-Fi,98,5.0,1532457913
100788,187593,Deadpool 2,Action|Comedy|Sci-Fi,233,2.5,1536968163
100789,187593,Deadpool 2,Action|Comedy|Sci-Fi,248,4.5,1534599909
100790,187593,Deadpool 2,Action|Comedy|Sci-Fi,249,5.0,1531611534
100791,187593,Deadpool 2,Action|Comedy|Sci-Fi,305,5.0,1532877841
100792,187593,Deadpool 2,Action|Comedy|Sci-Fi,331,4.0,1537235394
100793,187593,Deadpool 2,Action|Comedy|Sci-Fi,338,1.0,1530148465
100794,187593,Deadpool 2,Action|Comedy|Sci-Fi,380,3.0,1531351193
100795,187593,Deadpool 2,Action|Comedy|Sci-Fi,514,3.5,1537150726
100796,187593,Deadpool 2,Action|Comedy|Sci-Fi,586,4.0,1529899179
100797,187595,Solo: A Star Wars Story,Action|Adventure|Children|Sci-Fi,62,4.0,1528934550
100798,187595,Solo: A Star Wars Story,Action|Adventure|Children|Sci-Fi,380,4.0,1536872728
100799,187595,Solo: A Star Wars Story,Action|Adventure|Children|Sci-Fi,414,3.5,1527977920
100800,187595,Solo: A Star Wars Story,Action|Adventure|Children|Sci-Fi,514,3.0,1537674946
100801,187595,Solo: A Star Wars Story,Action|Adventure|Children|Sci-Fi,586,5.0,1529899556
100802,187717,Won't You Be My Neighbor?,Documentary,462,5.0,1529413865
100803,188189,Sorry to Bother You,Comedy|Fantasy|Sci-Fi,462,4.5,1533519140
100804,188301,Ant-Man and the Wasp,Action|Adventure|Comedy|Fantasy|Sci-Fi,50,3.0,1533302277
100805,188301,Ant-Man and the Wasp,Action|Adventure|Comedy|Fantasy|Sci-Fi,380,4.0,1534123382
100806,188301,Ant-Man and the Wasp,Action|Adventure|Comedy|Fantasy|Sci-Fi,596,4.0,1535709468
100807,188675,Dogman,Crime|Drama,318,3.5,1535035470
100808,188751,Mamma Mia: Here We Go Again!,Comedy|Romance,212,4.5,1532362151
100809,188797,Tag,Comedy,514,4.0,1535941279
100810,188833,The Man Who Killed Don Quixote,Adventure|Comedy|Fantasy,318,4.5,1535035971
100811,189043,Boundaries,Comedy|Drama,338,2.5,1530148447
100812,189111,Spiral,Documentary,338,3.0,1530148343
100813,189333,Mission: Impossible - Fallout,Action|Adventure|Thriller,184,4.0,1537110051
100814,189333,Mission: Impossible - Fallout,Action|Adventure|Thriller,248,3.5,1534602181
100815,189381,SuperFly,Action|Crime|Thriller,318,2.5,1536097988
100816,189547,Iron Soldier,Action|Sci-Fi,210,1.0,1528486011
100817,189713,BlacKkKlansman,Comedy|Crime|Drama,462,2.5,1536467299
100818,190183,The Darkest Minds,Sci-Fi|Thriller,50,3.5,1533302021
100819,190207,Tilt,Drama|Romance,338,1.5,1530148481
100820,190209,Jeff Ross Roasts the Border,Comedy,338,4.0,1530148487
100821,190213,John From,Drama,338,1.0,1530148478
100822,190215,Liquid Truth,Drama,338,1.5,1530148477
100823,190219,Bunny,Animation,338,1.0,1530148473
100824,190221,Hommage à Zgougou (et salut à Sabine Mamou),Documentary,338,1.0,1530148473
100825,191005,Gintama,Action|Adventure|Comedy|Sci-Fi,184,4.5,1537109489
100826,193565,Gintama: The Movie,Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554
100827,193567,anohana: The Flower We Saw That Day - The Movie,Animation|Drama,184,3.0,1537099103
100828,193571,Silver Spoon,Comedy|Drama,184,4.0,1537099392
100829,193573,Love Live! The School Idol Movie,Animation,184,4.0,1537099811
100830,193579,Jon Stewart Has Left the Building,Documentary,184,3.5,1537107259
100831,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint,Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules,Comedy,331,4.0,1537157606